{{ define "main" }}
  <article>
    <header>
      <p>
        <time datetime="{{ .Date.Format "2006-01-02 03:04" }}">
          {{- .Date.Format "2006-01-02" -}}
        </time>
        {{- if .Params.categories }} &bull;
          {{ range $index, $category := .Params.categories }}
            {{ if gt $index 0 }}, {{ end }}
            <a href="{{ $.LanguagePrefix }}{{ "/categories/" | relURL }}{{ . | urlize }}">{{- upper . -}}</a>
          {{ end }}
        {{- end -}}
      </p>
      <h1>
        {{- .Title -}}
      </h1>
      <p>
        {{ if .Params.tags }}
          {{ range $index, $tag := .Params.tags }}
            {{ if gt $index 0 }}, {{ end }}
            <a href="{{ $.LanguagePrefix }}{{ "tags/" | relURL }}{{ . | urlize }}">
              <span class="hash">#</span>{{- . -}}
            </a>
          {{ end }}
        {{ end }}
      </p>
    </header>
    <section>
      {{- .Content -}}
    </section>
    <footer>
      <div>
          <a href="mailto:{{ $.Site.Author.email }}?subject=评论《{{ .Title }}》&body={{ .Permalink }}" onclick="window.open(this.href); return false;">邮件讨论</a>
          &#47;
          <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text= @{{ $.Site.Author.twitter_id }} {{ .Title }}&tw_p=tweetbutton" onclick="window.open(this.href); return false;">Twitter 评论</a>
      </div>
      {{ template "_internal/disqus.html" . }}
    </footer>
  </article>
{{ end }}
